body {
    background-color: #27271b; /* Fundo escuro */
    color: #ffffff; /* Texto branco para contraste */
    font-family: Arial, sans-serif;
    text-align: center;
}


        
h1 {
    margin-top: 20px;
    
}
        


canvas {
    margin: 20px auto;
            display: block;
}
    